/* ===== FOOTER ===== */
footer {
    color: var(--text-base-light); /* Cor do texto clara */
    background-color: var(--bg-header-color); /* Cor de fundo escura (original) */
}

.footer-container {
    height: max-content;
    width: 100vw;
}

.footer-content {
    padding-top: 3vh;
    gap: 3vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

  /* Redes Sociais */
.redes-sociais h1,
.localizacao h1,
.contato h1 {
    font-family: var(--font-inter);
    font-size: 2.5vh; /* Ajustado para melhor responsividade */
    margin-bottom: 4vh;
}
  
.redes-sociais a {
    color: inherit; /* Mantém a cor do texto pai */
    margin-right: 20px; /* Espaçamento entre ícones */
    font-size: 4vh; /* Tamanho dos ícones */
    transition: transform 0.2s ease;
}

.redes-sociais a i {
    font-size: 3vh;
}
  
.redes-sociais a:hover {
    transform: scale(1.12);
}
  
  /* Localização */
.localizacao a {
    color: inherit;
    font-size: 2.1vh;
    display: inline-block;
    transition: transform 0.2s ease;
}
  
.localizacao a:hover {
    transform: scale(1.06);
    text-decoration: none; /* Remove sublinhado padrão */
}
  
  /* Formulário */
.contato label {
    text-align: left;
    font-family: var(--font-poppins);
    margin-bottom: 0.5vh;
}
  
.contato input,
.contato textarea {
    width: 100%; /* Ocupa 100% da coluna Bootstrap */
    padding: 10px;
    margin-bottom: 2vh;
    border: 0;
    border-radius: 5px;
    font-family: var(--font-poppins);
}
  
.contato textarea {
    height: 15vh;
}
  
.contato button {
    background-color: var(--bg-color3);
    color: white;
    border: none;
    padding: 8px 35px;
    font-weight: bold;
    transition: transform 0.2s ease;
    width: 100%; /* Botão ocupa toda a largura */
}
  
.contato button:hover {
    transform: scale(1.06);
}
  
.end {
    background-color: var(--bg-color3);
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
  
/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
    .redes-sociais a {
        margin: 0 3vw; /* Mais espaço em mobile */
    }

    .contato {
        padding: 0 20px; /* Evita que o formulário cole nas bordas */
}
}