header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8vh;
    max-height: 15vh;
    padding: 0 1vw;
    background-color: var(--bg-header-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 3.5vw;
    height: max-content;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.navbar ul li a {
    color: var(--text-base-light);
    text-decoration: none;
}

.navbar ul li a {
    font-family: var(--font-inter);
    font-weight: 500;
    position: relative;
    color: var(--text-base-light);
    text-decoration: none;
    padding-bottom: 5px;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px;
    background-color: var(--text-base-light);
    transition: width 0.3s ease-in-out; 
}

.navbar ul li a:hover::after {
    width: 100%;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px 5vw;
        text-align: center;
    }

    .logo img {
        width: 12vw;
    }

    .navbar ul {
        flex-direction: column;
        gap: 3vh;
        padding: 10px 0;
    }
}