@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--bg-header-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 3.5vw;
    height: max-content;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.navbar ul li a {
    color: var(--text-base-light);
    text-decoration: none;
}

.navbar ul li a {
    font-family: 'Inter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    position: relative;
    color: var(--text-base-light);
    text-decoration: none;
    padding-bottom: 5px;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px;
    background-color: var(--text-base-light);
    transition: width 0.3s ease-in-out; 
}

.navbar ul li a:hover::after {
    width: 100%;
}