@import url('home.css');
@import url('who-we-are.css');
@import url('projects.css');
@import url('header.css');
@import url('footer.css');
@import url('vars.css');
@import url('servicos.css');
@import url('futuro.css');

main {
    height: max-content;
}

body {
    color: var(--text-base-light);
    line-height: 1.8rem;
    overflow-x: hidden;
}

.neon-effect {
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 
        0 0 1px #00ADB4,
        0 0 2px #00ADB4,
        0 0 4px #00ADB4,
        0 0 8px #00ADB4;
    transition: box-shadow 0.3s ease;
}

.neon-effect:hover {
    box-shadow: 
        0 0 2px #00ADB4,
        0 0 4px #00ADB4,
        0 0 8px #00ADB4,
        0 0 16px #00ADB4;
}