.servicos {
    background-color: var(--bg-color3);
    height: max-content;
    width: 100vw;
    padding-top: 5vh;
}

.servicos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos_title {
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-size: 5vh;
    font-weight: 700;
    font-family: var(--font-inter);
}

.servicos-top {
    height: max-content;
    width: 80vw;
    gap: 20px;
    padding: 3vh 12vw;
}

.servicos-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    width: 100vw;
}

.servicos-card {
    display: flex;
    flex-direction: column;
    width: 26vw;
    gap: 2.5vh;
}

.servicos-card-img {
    overflow: hidden;
    height: 40vh;
    width: 26vw;
}

.servicos-card-img img {
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.servicos-card h2 {
    font-family: var(--font-inter);
    font-size: 1.6vw;
}

.servicos-card p {
    font-family: var(--font-poppins);
}

.servicos-card button {
    font-family: var(--font-inter);
    padding: 10px 2px;
    width: 25%;
    border-radius: 5px;
    background-color: var(--bg-header-color);
    font-weight: 600;
    color: white;
}
.servicos-card button i {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .servicos {
        height: auto;
    }   
    
    .servicos-content {
        flex-direction: column;
        height: auto;
        gap: 5vh;
    }

    .servicos-card {
        width: 80vw;
    }

    .servicos-card-img {
        width: 100%;
        height: auto;
    }

    .servicos-top {
        width: 100vw;
        padding: 3vh 6.5vw 3vh 6.5vw;
        text-align: center;
    }
}

